#
# Specify intentionally untracked folders/files that Git should ignore.
# More details on: https://git-scm.com/docs/gitignore
#

# IDE specific folders.
#   Eclipse
/.settings/
#   CLion
/.idea/

# Generated project documentation.
/docs/generated/
