/*
 * Customize bootstrap forms.
 */

.form-group .btn {
    padding: 5px 12px;
}

.form-horizontal .form-group {
    margin-bottom: 15px;
}

.form-horizontal .help-block {
    margin-bottom: 0px;
}


/*
 * Customize bootstrap navigation bar.
 */

.navbar-brand {
    padding: 3px;
}

.navbar-brand > img {
    height: 44px;
}

/*
 * Customize Wt authentication forms.
 */

.Wt-auth-logged-in {
    text-align: right;
}

.Wt-auth-icon {
    cursor: pointer;
    cursor: hand;
    padding-left: 4px;
    padding-right: 4px;
}

.Wt-auth-login .panel-body {
    background-color: #f5f5f5;
    padding: 6px 1px 4px 1px;
}

.Wt-auth-login .panel-body > .form-group {
    margin-bottom: 2px;
}
